.button {
  background-color: var(--button-bg-color);
  color: #ffffff;
  border: none;
  padding: var(--spacing--sm) var(--spacing--lg);
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--font-size--md);
  font-family: var(--font-family);
  line-height: var(--line-height--sm);
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
}
