.button {
  background-color: var(--button-bg-color);
  color: #ffffff;
  border: none;
  padding: var(--spacing--sm) var(--spacing--lg);
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--font-size--md);
  font-family: var(--font-family);
  line-height: var(--line-height--sm);

  &:hover,
  &:focus-visible {
    background-color: color(from var(--button-bg-color) srgb r g b / 0.9);
  }
  &:active {
    background-color: color(from var(--button-bg-color) srgb r g b / 0.8);
  }
}
