.button {
  background-color: #fb6232;
  color: #ffffff;
  border: none;
  padding: var(--spacing--sm) var(--spacing--lg);
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--font-size--md);
  font-family: var(--font-family);
  line-height: var(--line-height--sm);
}
