.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-content: start;
  gap: var(--spacing--sm);
  margin-block: var(--spacing--lg);
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing--sm);
  font-family: var(--font-family);
  font-size: var(--font-size--md);
  line-height: var(--line-height--md);
  color: var(--color-secondary);
  margin-block: var(--spacing--xl);
}

.grid-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}
