.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-content: start;
  gap: var(--spacing--sm);
  margin-block: var(--spacing--lg);
  min-height: 50vh;
}

.message {
  font-family: var(--font-family);
  font-size: var(--font-size--md);
  line-height: var(--line-height--md);
  color: #63666a;
  text-align: center;
  margin-block: var(--spacing--xl);
}
