.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(32px, 10vw, 60px);
  place-self: center;
  color: #292929;
  margin: 0;

  .first-word {
    background: linear-gradient(98.5deg, #ff784e, #fb347c);
    background-clip: text;
    color: transparent;
  }
}
