.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--sm);
  place-self: center;
  max-width: 100%;
}

.label {
  font-family: var(--font-family);
  font-size: var(--font-size--md);
  line-height: var(--line-height--lg);
  color: var(--color-secondary);
  text-transform: uppercase;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: var(--spacing--sm);
}

.input {
  min-width: 0;
  width: 500px;
  height: 78px;
  border-radius: 20px;
  background-color: var(--white);
  padding: var(--spacing--sm) var(--spacing--lg);
  font-family: var(--font-family);
  font-size: var(--font-size--lg);
  line-height: var(--line-height--lg);
  border: none;

  &::placeholder {
    color: var(--color-secondary);
    font-family: var(--font-family);
    font-size: var(--font-size--lg);
    line-height: var(--line-height--lg);
  }
}

.button {
  height: 78px;
  border-radius: 20px;
}
