.filters {
  width: 100%;
  border-bottom: 1px solid var(--color-secondary);
  padding-block: var(--spacing--xl) var(--spacing--md);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--spacing--sm);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing--sm);
  list-style: none;
  margin: 0;
}

.label {
  font-family: var(--font-family);
  font-size: var(--font-size--sm);
  line-height: var(--line-height--lg);
  color: var(--color-secondary);
  text-transform: uppercase;
}

.active {
  outline: 2px solid var(--color-secondary);
}
