@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :where(p, li, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  :where(body) {
    min-block-size: 100svb;
    min-inline-size: 320px;
  }

  :where(html) {
    scrollbar-gutter: stable;
  }
}

:root {
  --white: #ffffff;
  --background: #f5f5f5;
  --color-text: #292929;
  --color-primary: #fb6232;
  --color-secondary: #63666a;

  --font-family: 'Poppins', sans-serif;
  --font-size--xl: 24px;
  --font-size--lg: 16px;
  --font-size--md: 14px;
  --font-size--sm: 12px;

  --line-height--lg: 1.7;
  --line-height--md: 1.3;
  --line-height--sm: 1;

  --spacing--xl: 32px;
  --spacing--lg: 24px;
  --spacing--md: 16px;
  --spacing--sm: 8px;
  --spacing--xs: 4px;

  /* filter colors */
  --filter-admin--text-color: #ffffff;
  --filter-admin--bg-color: #003569;
  --filter-editor--text-color: #ffffff;
  --filter-editor--bg-color: #269085;
  --filter-viewer--text-color: #ffffff;
  --filter-viewer--bg-color: #5993b9;
  --filter-guest--text-color: #ffffff;
  --filter-guest--bg-color: #9f009f;
  --filter-owner--text-color: var(--color-text);
  --filter-owner--bg-color: #ffffff;
  --filter-inactive--text-color: var(--color-text);
  --filter-inactive--bg-color: #ffffff;
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--color-text);
  font-size: 2rem;
}

.main-content {
  --inline-spacing: var(--spacing--md);
  --color-text-max-width: 1024px;

  padding-top: 28vh;
  width: 100%;
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--inline-spacing), 1fr)
    [content-start] min(var(--color-text-max-width), 100% - 2 * var(--inline-spacing)) [content-end]
    minmax(var(--inline-spacing), 1fr) [full-width-end];
  place-content: center;

  & > * {
    grid-column: content;
  }
}

.header-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--lg);
}
